plugins/org.eclipse.sapphire.tests/schemas/xml/xsd/0001c.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema
    xmlns="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified">

  <element name="element1">
    <complexType>
    	<sequence>
    		<element name="element1-aaa" type="string"/>
    		<element name="element1-bbb" type="string"/>
    		<element name="element1-ccc" type="string"/>
    	</sequence>
    </complexType>
  </element>
    
</schema>