plugins/org.eclipse.sapphire.ui/src/org/eclipse/sapphire/ui/def/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://xmlns.oracle.com/eclipse/tools/sapphire/ui"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:sdef="http://xmlns.oracle.com/eclipse/tools/sapphire/ui">

	<element name="definition">
		<complexType>
			<choice maxOccurs="unbounded" minOccurs="1">
				<element name="import">
					<complexType>
						<sequence>
							<element name="bundle" type="string">
							</element>
							<element name="package" type="string"
								maxOccurs="unbounded" minOccurs="0">
							</element>
							<element name="definition" type="string"
								maxOccurs="unbounded" minOccurs="0">
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="editor-page">
					<complexType>
						<sequence>



							<element name="id" type="string"
								maxOccurs="1" minOccurs="1">
							</element>
							<element name="page-name" type="string"
								maxOccurs="1" minOccurs="0">
							</element>
							<element name="page-header-text"
								type="string" maxOccurs="1" minOccurs="0">
							</element>
							<element name="outline-header-text"
								type="string" maxOccurs="1" minOccurs="0">
							</element>
							<element name="initial-selection"
								type="string" maxOccurs="1" minOccurs="0">
							</element>
							<element name="help-context-id"
								type="string" maxOccurs="1" minOccurs="0">
							</element>
							<element name="header-actions" maxOccurs="1"
								minOccurs="0" type="sdef:actionsType">

							</element>
							<element name="outline-toolbar-actions"
								type="sdef:actionsType" maxOccurs="1" minOccurs="0">
							</element>
							<element name="outline-menu-actions" type="sdef:actionsType" maxOccurs="1" minOccurs="0"></element>
							<element name="root-node"
								type="sdef:nodeType">
							</element>



						</sequence>
					</complexType>
				</element>
				<element name="node" type="sdef:nodeType"></element>
				<element name="node-list" type="sdef:nodeListType"></element>
				<element name="composite">
					<complexType>
						<sequence>
							<element name="id" type="string"></element>
							<element name="content"
								type="sdef:contentType">
							</element>
						</sequence>
					</complexType>
				</element>
			</choice>
		</complexType>
	</element>


	<complexType name="actionsType">
		<sequence>
			<element name="suppress-default-actions" maxOccurs="1"
				minOccurs="0">
				<complexType></complexType>
			</element>
			<element name="override" maxOccurs="unbounded"
				minOccurs="0">
				<complexType>
					<sequence>
						<element name="id" type="string"></element>
						<element name="action" type="sdef:actionType"></element>
					</sequence>
				</complexType>
			</element>
			<element name="action-group" maxOccurs="unbounded" minOccurs="0">
			    <complexType>
			    	<sequence>
			    		<element name="action" maxOccurs="unbounded" minOccurs="0" type="sdef:actionType">
			    		</element>
			    	</sequence>
			    </complexType>
			</element>		</sequence>
	</complexType>

	<complexType name="actionType">
		<sequence>
			<element name="id" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="label" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="class" type="string"></element>
		</sequence>
	</complexType>
					    
    <complexType name="nodeType">
    	<sequence>
    		<element name="id" type="string" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="property" type="string" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<choice maxOccurs="1" minOccurs="0">
    			<element name="label" type="string"></element>
    			<element name="dynamic-label">
    				<complexType>
    					<sequence>
    						<element name="property" type="string"></element>
    						<element name="null-value-label"
    							type="string">
    						</element>
    					</sequence>
    				</complexType>
    			</element>
    		</choice>

            <choice maxOccurs="1" minOccurs="0">
      		    <element name="image" type="string"/>
      		    <element name="use-model-element-image" />
            </choice>
    		
   			<element name="actions" type="sdef:actionsType" maxOccurs="1" minOccurs="0">
   			</element>

    		<element name="section" maxOccurs="unbounded"
    			minOccurs="0">
    			<complexType>
    				<sequence>
    					<element name="label" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="description" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="help-context-id" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
			   			<element name="actions" type="sdef:actionsType" maxOccurs="1" minOccurs="0">
			   			</element>
   						<element name="visible-when" maxOccurs="1"
   							minOccurs="0">
   							<complexType>
   								<sequence>
   									<element name="condition"
   										type="sdef:conditionType">
   									</element>
   								</sequence>
   							</complexType>
   						</element>
    					<element name="content" type="sdef:contentType"
    						maxOccurs="1" minOccurs="0">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<choice maxOccurs="unbounded" minOccurs="0">
    			<element name="node" type="sdef:nodeType"></element>
                <element name="node-ref" type="string"></element>
                <element name="node-list" type="sdef:nodeListType"></element>
    			<element name="node-list-ref" type="string"></element>
    		</choice>

    	</sequence>
    </complexType>

    <complexType name="contentType">
    	<choice maxOccurs="unbounded" minOccurs="0">
    		<element name="property-editor">
    			<complexType mixed="true">
    				<sequence>
    					<element name="property" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="hint" maxOccurs="unbounded"
    						minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="name"
    									type="string">
    								</element>
    								<element name="value"
    									type="string">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="separator">
    			<complexType>
    				<sequence>
    					<element name="label" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="spacer">
    			<complexType>
    				<sequence>
    					<element name="size" type="int" maxOccurs="1"
    						minOccurs="0">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="label" type="string"></element>
    		<element name="group">
    			<complexType>
    				<sequence>
    					<element name="label" type="string"></element>
    					<element name="content"
    						type="sdef:contentType">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="with">
    			<complexType>
    				<sequence>
    					<element name="property" type="string"></element>
    					<element name="content"
    						type="sdef:contentType">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="composite">
    			<complexType>
    				<sequence>
    					<element name="content"
    						type="sdef:contentType">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="composite-ref">
    			<complexType>
    				<sequence>
    					<element name="id" type="string"></element>
    					<element name="param" maxOccurs="unbounded"
    						minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="name"
    									type="string">
    								</element>
    								<element name="type"
    									type="string">
    								</element>
    								<element name="value"
    									type="string">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="action-link">
    			<complexType>
    				<sequence>

    					<choice>
    						<element name="action-id" type="string"></element>

    						<element name="action-class"
    							type="string">
    						</element>
    					</choice>

    					<element name="label" type="string"></element>

    					<element name="show-image" maxOccurs="1"
    						minOccurs="0">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="custom">
    			<complexType>
    				<sequence>
    					<element name="class" type="string"></element>
    				</sequence>
    			</complexType>
    		</element>


    		<element name="read-only-text">
    			<complexType>
    				<sequence>
    					<element name="label" type="string"></element>
    					<element name="text" type="string"></element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="conditional-composite">
    			<complexType>
    				<sequence>
    					<element name="property" type="string"></element>
    					<element name="conditional" type="string"></element>
    					<element name="content"
    						type="sdef:contentType">
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="switching-panel">
    			<complexType>
    				<sequence>
    					<choice>
    						<element name="enum-controller">
    							<complexType>
    								<sequence>
    									<element name="property"
    										type="string">
    									</element>
    								</sequence>
    							</complexType>
    						</element>
    						<element name="list-selection-controller">
    							<complexType>
    								<sequence>
    									<element name="property"
    										type="string">
    									</element>
    								</sequence>
    							</complexType>
    						</element>
    					</choice>
    					<element name="panel" maxOccurs="unbounded"
    						minOccurs="1">
    						<complexType>
    							<sequence>
    								<element name="key" type="string">
    								</element>
    								<element name="content"
    									type="sdef:contentType">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    					<element name="default-panel" maxOccurs="1"
    						minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="content"
    									type="sdef:contentType">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    				</sequence>
    			</complexType>
    		</element>
    	</choice>
    </complexType>

    <complexType name="nodeListType">
    	<sequence>
            <element name="id" type="string" maxOccurs="1" minOccurs="0"></element>
            <element name="property" type="string"></element>
    		<element name="node-template" maxOccurs="unbounded"
    			minOccurs="1">
    			<complexType>
    				<sequence>
    					<element name="model-element-type" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<element name="property" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
    					<choice maxOccurs="1" minOccurs="0">
    						<element name="label" type="string"></element>
    						<element name="dynamic-label">
    							<complexType>
    								<sequence>
    									<element name="property"
    										type="string">
    									</element>
    									<element name="null-value-label"
    										type="string">
    									</element>
    								</sequence>
    							</complexType>
    						</element>
    					</choice>

    					<element name="image" type="string"
    						maxOccurs="1" minOccurs="0">
    					</element>
			   			<element name="actions" type="sdef:actionsType" maxOccurs="1" minOccurs="0">
			   			</element>
    					<element name="section" maxOccurs="unbounded"
    						minOccurs="0">
    						<complexType>
    							<sequence>
    								<element name="label" type="string"
    									maxOccurs="1" minOccurs="0">
    								</element>
    								<element name="description"
    									type="string" maxOccurs="1" minOccurs="0">
    								</element>
						   			<element name="actions" type="sdef:actionsType" maxOccurs="1" minOccurs="0">
						   			</element>
    								<element name="content"
    									type="sdef:contentType">
    								</element>
    							</sequence>
    						</complexType>
    					</element>
    					<choice maxOccurs="unbounded" minOccurs="0">
    						<element name="node" type="sdef:nodeType"></element>
    						<element name="node-list"
    							type="sdef:nodeListType">
    						</element>
    						<element name="node-ref" type="string"></element>
    					</choice>

    				</sequence>
    			</complexType>
    		</element>
    	</sequence>
    </complexType>
    

    <complexType name="conditionType">
    	<sequence>
    		<element name="class" type="string"></element>
    		<element name="parameter" type="string" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>
</schema>