plugins/org.eclipse.sapphire.samples/schemas/Address.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema 
  xmlns="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="http://xmlns.oracle.com/eclipse/tools/sapphire/samples/address" 
  xmlns:tns="http://xmlns.oracle.com/eclipse/tools/sapphire/samples/address" 
  elementFormDefault="qualified">
  
    <element name="street" type="string"></element>
    <element name="city" type="string"></element>
    <element name="state" type="string"></element>
    <element name="zip" type="string"></element>
    
</schema>